{% extends "layout.html" %}

{% block main_content %}
    <form name="url" method="post" novalidate class="form">
            {{ form.hidden_tag() }}

            {{ form.url.label(class_="form__label") }}
            
            {% for error in form.url.errors %}
            <span class="form__error">{{ error }}</span>
            {% endfor %}
            
            <div>
                {{ form.url(class_="form__field") }}
                {{ form.submit(class_="button button--form")}}
            </div>
    </form>
{% endblock %}

{% block url_content %}
    <div class="urlsbox">
        {% if long_url %}
            <section class="results results--active">
                <p class="short_url">Shortened URL: <a class="link" href="{{ short_url }}">{{ base_url }}{{ short_url }}</a></p>
            
                <p class="long_url">Long URL: <a class="link" href="{{ 'long_url' }}">{{ long_url }}</a></p>
            </section>
        {% else %}
            <section class="results"><p>results: </p></section>
        {% endif %}
    </div>
{% endblock %}