html {
  font-size: 12px;
}

@media screen and (min-width: 60em) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: asap, arial;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 255, 0.164),
    rgba(255, 0, 0, 0.185)
  );
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.header {
  text-align: center;
  display: block;
}

.nav__container {
  display: block;
  padding: 2rem 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav__item {
  font: 900 49px asap;
  color: #2646d6;
  letter-spacing: -1px;
}

.urlbox {
  width: 50%;
  height: 200px;
  box-shadow: 0 5px 30px #0000001c;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.form__label {
  font: bold 36px asap, arial;
  color: #505050;
  letter-spacing: -1px;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form__field {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.085);
  transition: 300ms;
}

.form__field:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.145);
}

.button--form {
  background-color: #2646d6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 6px 10px #08185e31;
}

.button--form:active {
  box-shadow: none;
  transform: scale(0.9);
}

.footer div {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.74);
}

.urlsbox {
  width: 100%;
  line-height: 1.45rem;
}

.link {
  text-decoration: none;
  color: #30bafff1;
  gap: 30px;
}
